@import "~@angular/material/prebuilt-themes/deeppurple-amber.css";
@import url('https://fonts.googleapis.com/css?family=Oswald:300,400,500,600&display=swap');

*{
    margin:0;
    padding:0;
    font-family: 'Oswald', sans-serif;
}
body{
    background: #f1f1f1;
}

.app-wrapper{
    &::after{
        content: "";
        height: 100%;
        width: 100%;
        position: absolute;
        opacity: 0.1;
        top: 0;
    }
    .toolbar{
        background-color: #3f51b5;
        height: 60px;
        display: flex;
        align-items: center;
        color: #fff;
        padding: 0 30px;
        position: sticky;
        top:0;
        z-index: 10;
    }
    .container-fluid {
        margin-right: auto;
        margin-left: auto;
        padding-right: 2rem;
        padding-left: 2rem;
        position: relative;
        z-index: 9;
    }

    .title{
        padding: 40px 30px 0 30px;
        h2{
            color: #25ab92;
            font-size: 23px;
            text-transform: uppercase;
            text-align: center;
        }
    }

    .highlight-card{
        position: absolute;
        top: 0;
    }

    .btn-grp{
        display: flex;
        justify-content: flex-end;
        position: relative;
        top: 50px;
        button{
            background: #3f51b5;
            color: #fff;
            font-weight: normal;
        }
    }
}
.page-title{
    padding: 40px 30px 0 30px;
    h2{
        color: #25ab92;
        font-size: 23px;
        text-transform: uppercase;
        text-align: center;
    }
}
